@import url("../../css/App.css");

.dashboard-content .top-books-list {
  display: grid;

  grid-gap: 2rem;
  padding: 1rem;
  grid-template-columns: 10px repeat(6, calc(50% - var(--gutter) * 2)) 10px;

  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);
  overflow-x: auto;

  justify-content: start;

  padding: 1rem;
  padding-left: 2rem;
}

.dashboard-content .list-book {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-gap: 2rem;
}

.book-search-header {
  grid-column: 1 / -1;
}

.book-search-header .form-control {
  color: white;
  border: 1px solid var(--color-brand);
  font-weight: var(--fw-normal);
  border-radius: 1.25rem;
}
